@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: #24252A;
    font-family: 'Montserrat', sans-serif;
}
input[type="text"]{
    padding: 9px 10%;
    margin-left: 35%;
    color: #edf0f1;
    text-align: start;
    background-color: rgba(0,136,247,1);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

input:hover{
    background-color: rgba(0,136,247,0.6);
}
label{
    padding: 9px 35%;
    color: #edf0f1;
}
li, a, button,p {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #edf0f1;
}
.logo {
    margin-right:auto;
}
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}
.menu {
    list-style: none;
}
.menu li {
    display: inline-block;
    padding: 0px 30px;
}

.menu li a {
    transition: all 0.3s ease 0s;
    text-align: center;
}

.logo a {
  transition: all 0.3s ease 0s;
}

.menu li a:hover, .logo a:hover {
    color: #0088f7;
}

button {
    padding: 9px 25px;
    margin-left: 30px;
    background-color: rgba(0,136,247,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(0,136,247,0.6);
}

body .footer #signup-footer {
  margin-left: 47.25%;
  text-align: center;
  color: #edf0f1;
  transition: all 0.3s ease 0s;
  border: none;
}

body .footer #signup-footer:hover {
  color: #0088f7;
}

body .footer #login-footer {
  padding: 7px 1%;
  margin-left: 47.75%;
  text-align: center;
  color: #edf0f1;
  background-color: rgba(0,136,247,1);
  border: none;
  transition: all 0.3s ease 0s;
  border-radius: 50px;
}

body .footer #login-footer:hover {
  background-color: rgba(0,136,247,0.6);
}